
.checkout-product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-product-info {
    padding-left: 20px;
}

.checkout-product-info > button {
    padding-left: 20px;
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
}

.checkout-product-image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkout-product-rating {
    display: flex;
}

.checkout-product-title {
    font-size: 17px;
    font-weight: 800;
}